@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
.container {
  max-width: 90rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

header {
  background-color: aqua;
  justify-content: space-between;
}

@media screen and (max-width: 90rem) {
  .container {
    margin: 0 3rem;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}