// Contains variables, resets, mixins, and other similar styles

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
// Font
$ff-kumbh: "Kumbh Sans", sans-serif;

// Font weight
$normal: 400;
$bold: 700;

// Color

$primary-orange: hsl(26, 100%, 55%);
$secondary-orange: hsl(25, 100%, 94%);

$shade-100-vdb: hsl(220, 13%, 13%);
$shade-70-dgb: hsl(219, 9%, 45%);
$shade-40-gb: hsl(220, 14%, 75%);
$shade-10-lgb: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 0.75);
