// There are the styles for the header, footer, the grid system, etc.
@use "core" as *;

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 4.25rem;

  #hamburger-icon,
  .cart {
    margin-right: 1rem;
    cursor: pointer;
  }

  .cart-btn {
    border: none;
    background-color: transparent;
    position: relative;

    .cart {
      width: 1.5rem;
    }

    .item-count {
      position: absolute;
      top: -25%;
      right: 25%;

      background-color: $primary-orange;
      color: $white;
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1;

      padding: 0.1rem 0.4rem;
      border-radius: 1rem;
    }
  }

  .avatar {
    width: 1.5rem;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover,
    &:active {
      border: 2px solid $primary-orange;
      border-radius: 50%;
    }
  }
}

#side-nav {
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    background-color: $white;
    height: 100vh;
    width: 66.7%;
    padding: 1.5rem;

    #close-icon {
      margin-bottom: 3rem;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: rotate(90deg);
      }
    }

    li {
      list-style: none;
      margin-bottom: 1.5rem;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: $shade-100-vdb;

      &:hover,
      &:active {
        color: $shade-70-dgb;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 90rem) {
  .container {
    margin: 0 1.5rem;
  }
}
